<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div>
            {{!-- TODO: potentially replace with grid-3col --}}
            <div class="grid_header">
                <div class="name"><h2 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h2></div>
                <button class="clickable" data-type="select-class"><h2>{{system.class.label}}</h2></button>
                <div class="level"><h2>{{system.level}} Level</h2></div>
                <div class="xp"><h2>{{system.xp}} XP</h2></div>
                <div class="image"><img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/></div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="features">Features</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Items</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab features" data-group="primary" data-tab="features">
            <section class="grid-3col">
                {{!-- Ability Scores --}}
                <div>
                    <h2>Ability Scores</h2>
                    <div class="grid-4col-2nd-small">
                        <div>Score</div>
                        <div>Value</div>
                        <div>Mod</div>
                        <div>Save</div>
                        {{#each system.abilities as |ability key|}}
                            <label for="system.abilities.{{key}}.value" class="rollable" data-ability="{{key}}" data-type="check">{{ability.label}}</label>
                            <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
                            <span class="rollable" data-ability="{{key}}" data-type="check">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                            <span class="rollable" data-ability="{{key}}" data-type="save">{{numberFormat ability.save decimals=0 sign=true}}</span>
                        {{/each}}
                    </div>
                </div>

                {{!-- Skills --}}
                <div>
                    <h2>Skills</h2>
                    <div class="grid-2col">
                        {{#each system.skills as |skill key|}}
                            <label for="system.skills.{{key}}.value" class="rollable" data-skill="{{key}}" data-type="check">{{skill.label}}</label>
                            <span class="rollable" data-skill="{{key}}" data-type="check">{{numberFormat skill.mod decimals=0 sign=true}}</span>
                        {{/each}}
                    </div>
                </div>

                {{!-- Class Features --}}
                <div>
                    <h2>Class Features</h2>
                    {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
                    {{editor system.classFeatures target="system.classFeatures" editable=false}}
                </div>
            </section>

            <div class="combat">
                <h2>Combat</h2>
                <div class="grid-6col">
                    <div><b>Initiative</b></div>
                    <div><b>Armor Class</b></div>
                    <div><b>Hit Points</b></div>
                    <div class="grid-span-3"><b>Attack Bonus</b></div>
                    
                    <div>
                        <div><span class="initiative rollable" data-roll="d20+@combat.initiative.mod" data-label="initiative" data-type="initiative">1d10 + <br>{{numberFormat system.combat.initiative.mod decimals=0}}</span></div>
                    </div>
                    <div>
                        <div>{{numberFormat system.combat.armorClass.total}}</div>
                        <div class="grid grid-2col">
                            Mod: +
                            <input type="text" name="system.combat.armorClass.mod" value="{{system.combat.armorClass.mod}}" data-dtype="Number"/>
                        </div>
                    </div>
                    <div>
                        <div>Total <input type="text" name="system.resources.health.max" value="{{system.resources.health.max}}" data-dtype="Number"/></div>
                        <div>Current <input type="text" name="system.resources.health.value" value="{{system.resources.health.value}}" data-dtype="Number"/></div>
                    </div>
                    <div>Base
                        {{numberFormat system.combat.attack.bab decimals=0 sign=true}}
                    </div>
                    <div>Melee:
                        <span class="attack rollable" data-roll="d20+@combat.attack.melee" data-label="melee attack" data-type="attack">{{numberFormat system.combat.attack.melee decimals=0 sign=true}}</span>
                    </div>
                    <div>Ranged: 
                        <span class="attack rollable" data-roll="d20+@combat.attack.ranged" data-label="ranged attack" data-type="attack">{{numberFormat system.combat.attack.ranged decimals=0 sign=true}}</span>
                    </div>
                </div>
                {{!-- Weapon Items --}}
                <div class="grid-weapon">
                    <div><b>Weapon</b></div>
                    <div><b>Damage</b></div>
                    <div><b>Notes</b></div>
                    <div></div>
                    {{#each system.equipment.weapons as |slot key|}}
                        <input type="text" name="system.equipment.weapons.{{key}}.name" value="{{slot.name}}"/>
                        <input type="text" name="system.equipment.weapons.{{key}}.damage" value="{{slot.damage}}"/>
                        <input type="text" name="system.equipment.weapons.{{key}}.notes" value="{{slot.notes}}"/>
                        <button class="clickable dice-icon" data-type="roll-weapon-damage" data-roll="{{slot.damage}}" data-label="{{slot.name}} attack"></button>
                    {{/each}}
                </div>
                {{!-- Armor Items --}}
                <div class="grid-3col-small-center">
                    <div><b>Armor</b></div>
                    <div><b>Modifier</b></div>
                    <div><b>Notes</b></div>
                    {{#each system.equipment.armor as |slot key|}}
                        <input type="text" name="system.equipment.armor.{{key}}.name" value="{{slot.name}}"/>
                        <input type="text" name="system.equipment.armor.{{key}}.modifier" value="{{slot.modifier}}"/>
                        <input type="text" name="system.equipment.armor.{{key}}.notes" value="{{slot.notes}}"/>
                    {{/each}}
                </div>
            </div>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor system.background.biography target="system.background.biography" engine="prosemirror" button=true editable=editable}}
        </div>

        {{!-- Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <div>
                <div class="grid-items">
                    <div></div>
                    <div><b>Item</b></div>
                    <div><b>Scarcity Die</b></div>
                    <div></div>
                    {{#each system.equipment.items as |slot key|}}
                        {{key}}
                        <input type="text" name="system.equipment.items.{{key}}.description" value="{{slot.description}}"/>
                        <input type="text" name="system.equipment.items.{{key}}.scarcityDie" value="{{slot.scarcityDie}}"/>
                        <button class="clickable dice-icon" data-type="roll-scarcity" data-roll="{{slot.scarcityDie}}" data-label="{{slot.description}} scarcity"></button>
                    {{/each}}
                </div>
                {{!-- Other Items --}}
                <div class="grid-2col-equal">
                    <div>
                        <div><b>Non-encumbering items</b></div>
                        {{editor system.equipment.nonencumberingItems.value target="system.equipment.nonencumberingItems.value" engine="prosemirror" button=true editable=editable}}
                    </div>
                    <div>
                        <div><b>Wealth and treasure</b> (100 coins fit in each pouch)</div>
                        {{editor system.equipment.treasure.value target="system.equipment.treasure.value" engine="prosemirror" button=true editable=editable}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>