<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div>
            {{!-- TODO: potentially replace with grid-3col --}}
            <div class="grid_header">
                <div class="name"><h2 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h2></div>
                <button class="clickable" data-type="select-class"><h2>{{system.class.label}}</h2></button>
                <div class="level align-right"><h2>{{system.level}} Level</h2></div>
                <div class="xp align-right"><h2>{{system.xp}} XP</h2></div>
                <div class="image align-center"><img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/></div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="features">Features</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Items</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab features" data-group="primary" data-tab="features">
            <section class="grid grid-3col">
                {{!-- Ability Scores --}}
                <div>
                    <h2>Ability Scores</h2>
                    <div class="ability flexrow flex-group-center">
                        <div class="ability-header">Score</div>
                        <div class="ability-header">Value</div>
                        <div class="ability-header">Mod</div>
                        <div class="ability-header">Save</div>
                    </div>
                    {{#each system.abilities as |ability key|}}
                        <div class="ability flexrow flex-group-center">
                            <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d6+@abilities.{{key}}.mod" data-label="{{ability.label}} check" data-type="check">{{ability.label}}</label>
                            <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
                            <span class="ability-mod rollable" data-roll="d6+@abilities.{{key}}.mod" data-label="{{ability.label}} check" data-type="check">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                            <span class="ability-save rollable" data-roll="d10+@abilities.{{key}}.mod" data-label="{{ability.label}} save" data-type="save">{{numberFormat ability.save decimals=0 sign=true}}</span>
                        </div>
                    {{/each}}
                </div>

                {{!-- Skills --}}
                <div>
                    <h2>Skills</h2>
                    {{#each system.skills as |skill key|}}
                        <div class="skill flexrow flex-group-center">
                            <label for="system.skills.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d6+@skills.{{key}}.mod" data-label="{{skill.label}} check" data-type="check">{{skill.label}}</label>
                            <span class="skill-mod rollable" data-roll="d6+@skills.{{key}}.mod" data-label="{{skill.label}} check" data-type="check">{{numberFormat skill.mod decimals=0 sign=true}}</span>
                        </div>
                    {{/each}}
                </div>

                {{!-- Class Features --}}
                <div>
                    <h2>Class Features</h2>
                    {{editor enrichedBiography target="system.class_features" engine="prosemirror" button=true editable=editable}}
                </div>
            </section>

            <div class="combat">
                <h2>Combat</h2>
                <div class="grid grid-6col">
                    <div><b>Initiative</b></div>
                    <div><b>Armor Class</b></div>
                    <div><b>Hit Points</b></div>
                    <div class="grid-span-3 align-center"><b>Attack Bonus</b></div>
                    <div>
                        <div>1d10 +</div>
                        <div>__</div>
                    </div>
                    <div>__</div>
                    <div>
                        <div>Total <input type="text" name="system.resources.health.max" value="{{system.resources.health.max}}" data-dtype="Number"/></div>
                        <div>Current <input type="text" name="system.resources.health.value" value="{{system.resources.health.value}}" data-dtype="Number"/></div>
                    </div>
                    <div>Base __</div>
                    <div>Melee __</div>
                    <div>Ranged __</div>
                </div> 
            </div>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
            {{editor enrichedBiography target="system.background.biography" engine="prosemirror" button=true editable=editable}}
        </div>

        {{!-- Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            {{!-- TODO: make field to write down items --}}
        </div>
    </section>
</form>